@media (max-width: 1000px) {
    .navigation-ul {
        display: none;
    }
    .div-i {
        display: block;
    }
}
@media (max-width: 700px) {
    .div-h1-aboutus {
        left: 50px;
    }
    .div-h2 {
        left: 50px;
    }
}
@media (max-width: 1200px) {
    .bg-image1 {
        height: 100%;
    }  
}
@media (max-width: 1080px) {
    .section-four-div2 {
        flex-direction: column;
    }
    .four {
        margin-bottom: 15px;
    }
    .section-three {
        flex-direction: column;
    }
    .section-three-div1 {
        margin-bottom: 15px;
    }
}
@media (max-width: 1000px) {
    .section-one {
        flex-direction: column;
    }
    .section-one-div2 {
        margin-top: 70px;
    }
    .image3 {
        max-width: 536px;
        width: 100%;
    }
}
@media (max-width: 640px) {
    .section-four-div1 {
        margin-left: 15px;
        max-width: 500px;
        width: 100%;
        margin-bottom: 50px;
    }
}
@media (max-width: 600px) {
    .three-image {
        max-width: 500px; 
        width: 100%;
    }
}
@media (max-width: 535px) {
    .section-four-h3 {
        font-size: 20px;
        max-width: 200px;
        width: 100%;
        margin-top: 15px;
    }
    .section-four-div1 {
        margin-left: 15px;
        max-width: 200px;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .footer-p {
        font-size: 12px;
    }
    .div-icon1 {
        max-width: 25px;
        width: 100%;
        height: 25px;
	    border-radius: 25px;
	    margin-right: 5px;
        margin-top: 5px;
    }
    .a-icon1 {
        max-width: 25px;
        width: 100%;
        height: 25px;
        border-radius: 25px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .fab {
        font-size: 10px;
        color: white;
        margin-left: 7px;
    }
}
@media (max-width: 400px) {
    .by-p {
        font-size: 12px;
    }
    .by {
        max-width: 150px;
        width: 100%;
    }
}