@media (max-width: 1000px) {
    .navigation-ul {
        display: none;
    }
    .div-i {
        display: block;
    }
}
@media (max-width: 700px) {
    .div-h1-aboutus {
        left: 50px;
    }
    .div-h2 {
        left: 50px;
    }
}
@media (max-width: 1200px) {
    .bg-image1 {
        height: 100%;
    }  
}
@media (max-width: 1080px) {
    .section-four-div2 {
        flex-direction: column;
    }
    .four {
        margin-bottom: 15px;
    }
    .section-three {
        flex-direction: column;
    }
    .section-three-div1 {
        margin-bottom: 15px;
    }
}
@media (max-width: 1000px) {
    .section-one {
        flex-direction: column;
    }
    .section-one-div2 {
        margin-top: 70px;
    }
    .image3 {
        max-width: 536px;
        width: 100%;
    }
}

